#leagueDiv{
    background-color: #444444;
    height:100vh;
}

ul{
    padding-top:3vh;
    padding-bottom:2vh;
    border-radius:2vh;
    min-height:20vh;
    margin: 0 auto;
    max-width: 40vw;
    background-color: rgba(255,255,255,.3);
    color: white;
}
li{
    padding: .5vh;
    text-align:left
}